header > nav > ul > li > a {
  text-decoration: none;
}
header > nav > ul > li {
  list-style-type: none;
  display: inline;
  padding-left: 35px;
}
header > nav > ul {
  display: block;
  text-align: center;
}
header nav {
  display: flex;
  padding: 30px;
  justify-content: space-between;
}
.buttons-header {
  display: inline-block;
  border: 3px;
  border-radius: 10px;
  padding: 5px 15px;
}
.buttons-header a {
  text-decoration: none;
  color: black;
  justify-content: center;
}
.btn-join {
  background-color: rgb(111, 111, 173);
}
.btn-sing-up {
  background-color: bisque;
}
.pdg-left {
  padding-left: 30px;
}
