.btn {
  border: 1px dotted;
  color: #fff;
  background-color: rgba(0, 0, 255, 0.113);
}
.btn__join {
  border-radius: 10px;
  padding: 3px;
}
.btn__sing-up {
  margin-left: 5px;
  border-radius: 15px;
  padding: 5px;
}

.block_1 {
  border: 1px;
}