.container {
  border: 2px solid black;
  margin: 10px;
  margin-left: 123;
  
}
.Lesson_28 {
  margin-left: 30%; /* Отступ слева */
  margin-right: 30%; /* Отступ справа */
  background: rgb(26, 171, 142); /* Цвет фона */
  padding: 10px;
}
.main_block {
  font-size: 100px;
  color: blue;
  font-style: italic;  
}
.block_1 {
  color: red;
  font-style: normal;
}
.bg_red {
  background-color: red;
  color: black;
  font-size: 50px;
}

.border {
  border: 10px solid green;
}
.select_table {
  text-align: center;
  font-size: 35px;
}
.select_table:hover {
  text-align: left;
  font-size: 60px;
}
.button {
  size: 100px 200px;
  background-color: red;
}
.button:hover {
  background-color: blue;
}
.button:after {
  background-color: aquamarine;
}
