/* line-height: отвечает за интревал между строк; */
/* цвет текста */
/* color: red; 
    text-align: center; */
/* left — по левому краю. Используется по умолчанию
    center — по центру
    right — по правому краю
    justify — по ширине */
/* border: 1px transparent tomato;
    font-style: italic normal oblique bold; */
/* font-variant: small-caps(пытаеться сделать текст ввиде caps) normal - нормальное состояние;
    text-decoration:  - декорация текста (почеркнутый, зачерктуный и т.п внешний вид текста)
    где underline - подчеркивание текста
    overline - линия над текстом
    line-through - зачеркивание текста; */

/* font-family: Verdana, Geneva, Tahoma, sans-serif; - назначение определенного шрифта */
/* serif — шрифты с засечками (антиквы). Ярким представителем таких шрифтов является Times New Roman
sans-serif — шрифты без засечек (гротеск). Наиболее знакомыми такими шрифтами являются Arial и Verdana
cursive — курсивные шрифты
fantasy — декоративные шрифты. Это семейство используется реже всего. Дело в том, что декоративные шрифты слишком разные, чтобы они были взаимозаменяемые
monospace — моноширинные шрифты. К ним относятся шрифты, в которых все символы имеют одинаковую ширину. Очень часто их используют программисты в текстовых редакторах */

/* font: italic small-caps bold 24px/1.2 Arial;   еще один вид записи через font. где поочереди устанавливаються значения из списка: */
/* font-style
font-variant
font-weight
font-size / line-height (эти два правила записываются через слэш)
font-family
Обобщённые свойства перебивают отдельные. Если в коде вы указали font-variant: small-caps;, а потом для этого же элемента применили font: 16px/24px sans-serif;, то капитель будет сброшена в значение по умолчанию



Совети: 
Это понятие двойственное, но не следует использовать основной текст со шрифтом меньше 14 пикселей. Если размер шрифта будет меньше, то чтение с мобильных устройств будет пыткой.
Самым распространённым межстрочным интервалом является значение в 150% от размера шрифта. Если текст размером 14 пикселей, то межстрочный интервал желательно установить не менее 21 пикселя.



left — по левому краю. Используется по умолчанию
center — по центру
right — по правому краю
justify — по ширине

padding-top — внутренний отступ сверху
padding-right — внутренний отступ справа
padding-bottom — внутренний отступ снизу
padding-left — внутренний отступ слева
border - 
color - 
background-color */
